{% extends "base.html" %}

{% block content %}
  <h1>Start Game</h1>
  <p>
    <a class="button button-primary" href="{% url 'campaign:new_game' label=label %}">Generate Game Pin</a>
  </p>
{% endblock content %}
