{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<h1>{{ room.label }}</h1>
<p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle">
</p>
<form id="chatform">
    <table id="chat">
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.formatted_timestamp }}</td>
                    <td>{{ message.handle }}</td>
                    <td>{{ message.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Say something:</td>
                <td colspan=2>
                    <input id="message" type="text" placeholder="message">
                    <button type="submit" id="go">Say it</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>
{% endblock extra_js %}
